.vscode
.idea
*.env

backend

static/simple-uploader.html

.well-known

# temporary while testing
assets/image/wallpapers/*
!assets/image/wallpapers/Dark.svg
!assets/image/wallpapers/Light.svg

test.mjs

assets/audio/music/*thelstv*
assets/audio/music/*