#chat-main {
    display: flex;
    height: 100%;
    width: 100%;
}

#chat-main-area {
    flex: 1;
    min-width: 0;
}

#chat-left-area, #chat-right-area {
    position: relative;
    background: var(--elevate-0);
    width: 350px;
    max-width: 600px;
    min-width: 300px;
}

#server-list {
    width: 100px;
}