html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}

#app {
    --header-height: 50px;
    --topOffset: calc(var(--header-height, 50px) + 10px);
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#viewport {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    position: relative;
}


/* Part: Header */
nav {
    background: var(--elevate-2);
    padding: 8px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    z-index: 50;
    height: var(--header-height);
    overflow: hidden;
}

.homeButton {
    --color: var(--accent-60);
    color: var(--color) !important;
    font-size: 1.2rem;
}

.homeButton svg {
    margin: 0 5px;
}

#headerButtons button {
    margin: 0;
    font-size: .9rem;
}

#headerButtons button.open {
    background: var(--elevate-0);
    outline: 3px solid var(--accent-mix-10);
}

#headerButtons button::after {
    content: "";
    transition: box-shadow 0.2s;
    z-index: -1;
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

#headerButtons button.open::after {
    box-shadow: 0 0 60px 0px var(--accent-40);
}

#headerButtons .hidden {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

#accountsButton {
    padding-right: 45px;
}

#accountsButton:is(:hover, :focus, .open) #profilePicturePreview {
    background: var(--accent-mix-80);
}

#profilePicturePreview {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--accent-mix-60);
    width: 36px;
    border-radius: var(--border-radius-full);
    --load-width: calc(2 / 16 * 1em);
    --load-size: 1em;
}

#editProfileButton {
    --padding-control-v: 12px;
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolbars {
    /* -webkit-user-select: none;
    user-select: none; */
    --font: Poppins, Rubik, sans-serif;
    font-family: Poppins, Rubik, sans-serif;
    z-index: 2000;

    position: absolute;
    /* top: calc(100% + 10px); */
    top: var(--topOffset);
    right: 10px;
    background: none;
}

.toolbar {
    text-align: center;
    outline: 1px solid var(--accent-mix-20);
    max-height: calc(100vh - 90px);
    width: 300px;
    border-radius: var(--border-radius-xlarge);
    box-shadow: 0 10px 20px 0 #0002;
    overflow: auto;

    right: 0;

    /* height: 20rem; */

    /* --background: var(--surface-0);
    --elevate-0: var(--surface-n1);
    --elevate-n1: var(--surface-n2);
    --elevate: var(--surface-1);
    --elevate-1: var(--surface-2);
    --elevate-2: var(--surface-3);
    --elevate-3: var(--surface-4); */

    background: var(--background);
    color: var(--color);
}

.toolbar input {
    width: 100%;
}

.toolbar form {
    text-align: left;
    margin-bottom: 15px;
}

#toolbarLogin label {
    margin: 4px 0;
    margin-top: 14px;
    display: block;
}

.login-popout-title {
    font-weight: 700 !important;
    letter-spacing: 2px;
}

#toolbarLogin {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    width: 340px;
}

#loginPopup {
    padding: 36px 30px;
}

form > button {
    width: 100%;
}

form input::placeholder {
    text-transform: none;
}

#regUsername {
    text-transform: lowercase;
}

.login-toolbar-page {
    padding: 5px 20px;
    padding-bottom: 25px;
    top: 0;
    left: 0;
    right: 0;
}

.error-message {
    display: inline-block;
    color: var(--ls-color-red);
    margin: 4px;
    margin-bottom: 8px;
}

input[aria-invalid] {
    outline: 3px solid var(--accent-mix-60) !important;
}

#pfp {
    width: 100px;
    margin-top: 20px;
}

#headerButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons :is(button, a) {
    width: 100%;
}

.buttons button {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}


#loginPopup span {
    color: gray;
}

#themeButton {
    padding: 8px 12px;
}

#themeButton > i:first-child {
    border-right: 1px solid var(--surface-4);
    padding-right: 12px;
    margin-right: 10px;
}

.accentButton {
    width: 30px;
    height: 30px;
    padding: 0 !important;
}

#accentButtons {
    display: flex;
    width: 80%;
    margin: 26px auto;
    margin-bottom: 16px;
    flex-wrap: wrap;
    gap: 8px;
}


/* Responsive */
@media only screen and (max-width: 600px) {
    #toolbars {
        left: 10px;
        width: unset;
    }

    .headerTitle {
        font-weight: 400 !important;
    }

    .headerText {
        display: none;
    }

    .toolbar {
        right: 0;
        width: 100% !important;
    }
}

@media only screen and (max-width: 490px) {
    .headerTitle {
        display: none;
    }

    #themeButton>i:first-child {
        display: none;
    }

    #headerButtons .label {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    /* #assistantButton {
        display: none !important;
    } */
}

@media only screen and (max-width: 310px) {
    /* #appsButton {
        display: none !important;
    } */
}

@media only screen and (max-width: 250px) {
    /* #themeButton {
        display: none !important;
    } */
}

[ls] button.small {
    padding: 2px 20px;
    --br: 10px;
    --br-lg: 10px;
}

main > div {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.headerText {
    font-weight: 300;
}

#error_page {
    align-items: center;
    justify-content: center;
}

.marqueeBar {
    font-weight: 900;
    padding: 6px 0;
    width: 100%;
    font-size: larger;
    overflow: hidden;
}

.marqueeBar div {
    animation: marquee 32s linear infinite;
    white-space: nowrap;
    display: flex;
    width: 200%;
}

.marqueeBar span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*
 * Part: Error Page
*/

.error_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-family: 'JetBrains Mono';
}

.error_page h1 {
    font-size: 128px;
    color: var(--accent);
    letter-spacing: 12px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

.error_page .marqueeBar {
    width: 300px;
    background: var(--accent);
    text-transform: uppercase;
    padding: 8px;
    border-radius: 50px;
    color: var(--surface-0);
    font-size: x-large;
}

.error_page a {
    text-decoration: underline;
}


/*
 * Part: Assistant
*/

#toolbarAssistant {
    width: 600px;
    background: var(--surface-n3);
    color: var(--accent-90);
    border-radius: var(--border-radius-large);
    --font: "IBM Plex Mono", "JetBrains Mono", monospace;
    font-family: var(--font);
    padding: var(--padding-content-h);
}

#resizeMessage {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "IBM Plex Mono", "JetBrains Mono", monospace;
    height: 100%;
    width: 100%;
}

#toolbarAssistant .loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toolbarAssistant > .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}

[ls-theme="light"] #toolbarAssistant {
    color: var(--accent);
}

#toolbarAssistant .title {
    width: 100%;
}

#toolbarAssistant .title h1 {
    font-size: 3em;
    margin: 0;
}

#toolbarAssistant .title span {
    font-weight: 300;
}

#toolbarAssistant .generated-content {
    flex: 1;
    padding: var(--padding-content-h);
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 500px;
    margin: 15px 0;
}

#toolbarAssistant .input-container {
    background: var(--surface-n2);
    position: relative;
    border-radius: var(--border-radius-xxlarge);
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 0;
    padding: 5px 0;
}

#toolbarAssistant .input-container::before {
    content: "";
    background: linear-gradient(194deg, var(--accent-80), var(--accent-30));
    position: absolute;
    border-radius: 25px;
    box-shadow: 0 4px 20px 0 #0001;
    inset: -2px;
    z-index: -1;
}

#toolbarAssistant .input-wrapper {
    max-height: 300px;
    overflow-y: auto;
    flex: 1;
}

#assistant-input {
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font);
    padding: 0 var(--padding-content-h);
    min-width: 0;
    resize: none;
    width: 100%;
}

#toolbarAssistant.generating .input-container {
    opacity: .2;
}

#toolbarAssistant .send {
    --padding-control-v: 2px;
    font-size: xx-large;
    margin-right: 6px;
}

#toolbarAssistant .background {
    position: absolute;
    inset: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -2;
    object-fit: cover;
}

#toolbarAssistant .content::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--accent-10);
    mix-blend-mode: color;
    z-index: -1;
    pointer-events: none;
}

.assistant-intro {
    font-size: smaller;
    background: var(--surface-n3);
    display: block;
    padding: 8px 12px;
    border-radius: var(--border-radius-medium);
    text-align: left;
}

.assistant-examples {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 10px;
    gap: 0.5rem;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 14px;
    will-change: transform;
}

.assistant-examples button {
    display: inline-block;
    flex: 0 0 auto;
}

.message {
    padding: 8px 20px;
    border-radius: 25px;
    white-space: pre-wrap;
    text-align: left;
}

.message-user .message {
    background: var(--elevate-1);
    max-width: 400px;
}

.message-assistant .message {
    max-width: 100%;
    --background: var(--accent-20);
    background: var(--background);
    color: var(--on-accent);
    overflow: auto;
}

.reasoning-container {
    background: var(--accent-mix-20);
    border-radius: var(--border-radius);
    padding: 6px 14px;
}

.message-container {
    display: flex;
    gap: 20px;
}

.message-container.message-user {
    justify-content: flex-end;
}


/*
    Part: Command Palette
*/

#topOverlay {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 650px;
    margin: 0 auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: var(--topOffset);

    --command-text-size: 1.2rem;
}

#commandTerminal, #commandPaletteBar {
    width: 100%;
    border-radius: var(--border-radius);
    outline: 1px solid var(--surface-2);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1333333333);
}

#commandTerminal {
    overflow: auto;
    max-height: min(calc(100vh - 130px), 400px);
    padding: 8px;
}

.terminal-line {
    white-space: pre-wrap;
}

.terminal-line:hover {
    background: var(--elevate-1);
}

#commandPaletteBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.command-palette-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 8px;
}

#commandPalette {
    position: relative;
    padding: 8px 16px;
    display: flex;
    gap: .8em;
    flex: 1;
    cursor: text;
    width: 100%;
}

#commandPalette, .command-input, #commandPalette .textContainer, #commandTerminal {
    font-family: "JetBrains Mono", "IBM Plex Mono", monospace !important;
}

.command-input, #commandPalette .textContainer {
    font-size: var(--command-text-size);
    line-height: var(--command-text-size);
}

#commandPalette .textContainer {
    min-height: var(--command-text-size);
}

.command-input {
    opacity: 0;
    position: absolute !important;
    inset: 0;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
    z-index: 10;
    top: -8px;
}

.command-caret, .command-selection {
    position: absolute;
    top: 0;
    height: var(--command-text-size);
    width: 9.6px;
}

.textContainer {
    position: relative;
    width: 100%;
}

#commandPalette:not(.focused) .command-caret {
    outline: 1px solid var(--accent-50);
}

#commandPalette:not(.focused) .command-selection {
    display: none;
}

.focused .command-caret {
    background: var(--accent-50);
}

.focused .command-caret.blink {
    background: var(--accent-mix-80);
}

#commandPalette.selection .command-selection {
    display: block;
}

#commandPalette.selection .command-caret {
    display: none;
}

.completion-menu {
    background: var(--surface-1);
    border: 1px solid var(--surface-0);
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: auto;
    padding: 5px;
    border-radius: var(--border-radius);
    outline: 1px solid var(--surface-2);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1333333333);
}

[ls-theme=light] .completion-menu {
    background: var(--surface-n2);
}

.completion-item {
    padding: 2px 8px;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    gap: 8px;
    border-radius: var(--border-radius-small);
    align-items: center;
    white-space: nowrap;
}

.completion-item.has-accent {
    color: var(--accent-60);
}

[ls-theme=light] .completion-item.has-accent {
    color: var(--accent-40);
}

.completion-description {
    color: gray;
}

.completion-item:hover {
    background: var(--surface-3);
}

[ls-theme=light] .completion-item:hover {
    background: var(--surface-1);
}

.completion-item.selected {
    background: var(--surface-4);
    border: 1px solid var(--accent);
}

[ls-theme=light] .completion-item.selected {
    background: var(--surface-0);
    border: 1px solid var(--accent-80);
}

.command-hint {
    opacity: .5;
}

.command-text {
    white-space: pre;
    position: relative;
    z-index: 1;
}

.command-selection {
    background: var(--accent-mix-80);
}



/* 
    Part: Profile 
*/

.profile-bio {
    max-height: 100px;
    padding: 6px 8px;
    overflow: auto;
    white-space: pre-wrap;
}

.profile-bio code {
    background: var(--elevate-n1);
    border-radius: var(--border-radius-small);
    padding: 0 4px;
}

.text-tag {
    background: var(--accent-mix-60);
    font-size: small;
}

.profile {
    padding: 0;
    --avatar-x: 50%;
    --avatar-y: 35px;
    --avatar-mask-offset: 15px;
    --avatar-size: 120px;
}

/* .profile-picture-wrapper.secret-frame-experiment::after {
    content: "";
    background-image: url(https://cdn.extragon.localhost/file/fa.gif);
    background-size: contain;
    inset: -15px;
    position: absolute;
    opacity: 0.4;
    filter: grayscale(0.8) hue-rotate(160deg);
    background-repeat: no-repeat;
} */

.profile-picture-wrapper {
    position: relative;
}

[profile-style=glossy] {
    background: radial-gradient(circle at 180px 150%, var(--accent-mix-60) 0, var(--surface-n2));
    box-shadow: inset 0 100px 80px var(--surface-n3);
}

[profile-style=glossy] .profile-avatar {
    box-shadow: 0 -50px 100px 0 var(--accent-50);
    border-radius: var(--border-radius-circle);
    height: 120px;
}

[profile-style=glossy] ls-box {
    outline: 1px solid var(--accent-mix-60);
    background: radial-gradient(ellipse 100% 60% at 50% 100%, var(--accent-mix-10) 0, var(--surface-n2));
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.4), 0 0 20px 0 var(--accent-mix-10);
    position: relative;
    overflow: hidden;
}

[profile-style=glossy]::after, [profile-style=glossy] ls-box::after {
    content: "";
    clip-path: path("M0 5.02409C0 2.49719 2.04846 0.44873 4.57536 0.44873H402.631C405.158 0.44873 407.207 2.49719 407.207 5.02409V55.639C407.207 55.639 271.376 49.6742 148.413 88.5244C88.5564 107.436 0 165.162 0 165.162V5.02409Z");
    background: linear-gradient(180deg, #ffffff66, #ffffff05 30%);
    position: absolute;
    inset: 0;
    pointer-events: none;
}

/* [profile-style=glossy]::before {
    content: "";
    background-image: url(https://cdn.extragon.localhost/file/2d5adcc7e074cd03.jpg);
    inset: 0;
    position: absolute;
    opacity: 0.1;
    mix-blend-mode: color-dodge;
    filter: grayscale(1);
    pointer-events: none;
} */

[profile-style=glossy] ls-box::after {
    height: 50%;
    opacity: 40%;
}

.profile-block {
    outline: 1px solid var(--accent-mix-20);
    box-shadow: 0 10px 20px 0 #0002;
    width: 340px;
    position: relative;
    border-radius: var(--border-radius-xxlarge);
    overflow: hidden;
    height: fit-content;
}

.profile-banner {
    height: 160px;
	max-height: 160px;
    min-height: 160px;
    overflow: visible;
    z-index: 0;
    position: relative;
	background: var(--custom-color-0,var(--elevate-1));
    --h: calc(var(--avatar-size) / 2);
	/* -webkit-mask: radial-gradient(circle at calc(var(--avatar-x) + var(--h)) calc(var(--avatar-y) + var(--h)),transparent calc(var(--avatar-mask-offset) + (var(--avatar-size)) / 2),#fff 0);
    mask: radial-gradient(circle at calc(var(--avatar-x) + var(--h)) calc(var(--avatar-y) + var(--h)),transparent calc(var(--avatar-mask-offset) + (var(--avatar-size)) / 2),#fff 0); */
    -webkit-mask: radial-gradient(circle at 50% calc(var(--avatar-y) + var(--h)), transparent calc(var(--avatar-mask-offset) + (var(--avatar-size)) / 2), #fff 0), linear-gradient(to bottom, #fff 0%, transparent 100%);
    mask: radial-gradient(circle at 50% calc(var(--avatar-y) + var(--h)), transparent calc(var(--avatar-mask-offset) + (var(--avatar-size)) / 2), #fff 0), linear-gradient(to bottom, #fff 0%, transparent 100%);
    mask-composite: intersect;
}

.fullscreen-banner .profile-banner {
    height: 100%;
    max-height: unset;
    min-height: unset;
    position: absolute;
    inset: 0;
    z-index: -1;
    -webkit-mask: none;
    mask: none;
}

.fullscreen-banner .profile-banner::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: linear-gradient(color-mix(in oklab,var(--background) 45%,transparent 100%), var(--background) 80%);
    border-radius: var(--border-radius-xlarge);
    pointer-events: none;
}

.fullscreen-banner .banner-media {
    width: 100%;
    height: 100%;
}

.fullscreen-banner {
    padding-top: 160px;
    background: none;
}

.profile-banner :is(video, img) {
	width: 100%;
    height: 160px;
    min-height: 160px;
    object-fit: cover;
}

.profile-picture {
    -webkit-user-drag: none;
    border-radius: var(--border-radius-circle);
    object-fit: cover;
}

.profile-avatar {
    position: absolute;
    top: var(--avatar-y);
    left: var(--avatar-x);
    transform: translateX(-50%);
}

.profile-username {
    color: var(--surface-8);
}

.profile-buttons {
    margin: 18px 30px;
}

.links-container {
    display: flex;
    overflow-x: overlay;
    white-space: nowrap;
    gap: .4rem;
    margin-top: 5px;
    will-change: transform;
    --scrollbar-size: 1px;
}

.links-container a {
    display: inline-flex;
    align-items: center;
}

.links-container a > :is(i, img) {
    margin-right: 8px !important;
}

.links-container a > img {
    height: 1em;
    display: inline;
}

.profile-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: var(--border-radius-medium);
}

.profile-content h2 {
    margin: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.grouped-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grouped-buttons :is(button, .ls-button) {
    --padding-control-v: 12px;
    --padding-control-h: 20px;
    text-align: left;
}

.grouped-buttons :is(button, .ls-button) > i:first-child {
    margin-right: 10px !important;
    -webkit-text-stroke-width: 0.4px;
}

.grouped-buttons :is(button, .ls-button) {
    border-radius: 0 !important;
    border-bottom: 1px solid var(--accent-mix-40) !important;
}

.grouped-buttons :is(button, .ls-button):first-child {
    border-radius: var(--border-radius-xxlarge) var(--border-radius-xxlarge) 0 0 !important;
}

.grouped-buttons :is(button, .ls-button):last-child {
    border-radius: 0 0 var(--border-radius-xxlarge) var(--border-radius-xxlarge) !important;
    border-bottom: none !important;
}

.grouped-buttons :is(button, .ls-button):only-child {
    border-radius: var(--border-radius-xxlarge) !important;
    border-bottom: none !important;
}

ls-text-input .ls-text-input-bar, ls-text-input .ls-text-input-label {
    position: absolute;
}

ls-text-input .ls-text-input-bar {
    right: 5px;
    top: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    --padding-control-h: 12px;
    --padding-control-v: 4px;
    font-size: small;
}

ls-text-input .ls-text-input-label {
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--surface-9);
}

ls-text-input.has-textarea .ls-text-input-label {
    right: 12px;
    bottom: 12px;
    top: unset;
    transform: none;
}

ls-text-input {
    position: relative;
    display: block;
}

ls-text-input.has-textarea {
    width: 100%;
    max-width: 400px;
}


/**
* Part: Windows
*/

.window-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    outline: 1px solid var(--accent-mix-20);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, .4);
    background: var(--surface-0);
    z-index: 9000000;
}

.window-content-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--surface-1);
    padding-left: 16px;
}

.window-title {
    pointer-events: none;
}

.window-header-buttons {
    padding: 4px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.ls-dragging iframe, .ls-dragging .page {
    pointer-events: none;
}