html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}

#app {
    --header-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#viewport {
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    position: relative;
}


/* Part: Header */
nav {
    background: var(--elevate-2);
    padding: 8px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    z-index: 50;
    height: var(--header-height);
}

.homeButton svg {
    margin: 0 5px;
    color: var(--base-50);
}

#headerButtons button {
    margin: 0;
    font-size: .9rem;
    overflow: hidden;
}

#headerButtons button.open {
    background: var(--elevate-0);
    outline: 3px solid var(--accent-mix-10);
}

#accountsButton {
    padding-right: 45px;
}

#accountsButton:is(:hover, :focus) #profilePicturePreview {
    background: var(--elevate-3);
}

#profilePicturePreview {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--elevate-2);
    width: 36px;
    border-radius: 20px;
    --load-width: calc(2 / 16 * 1em);
    --load-size: 1em;
}

#profilePicturePreview[load] * {
    display: none;
}

nav > a {
    font-size: 1.2rem;
}

#toolbars {
    /* -webkit-user-select: none;
    user-select: none; */
    --font: Poppins, Rubik, sans-serif;
    font-family: Poppins, Rubik, sans-serif;
    z-index: 2000;

    position: absolute;
    top: calc(100% + 10px);
    right: 10px;
}

.toolbar {
    text-align: center;
    background: var(--background);
    outline: 1px solid var(--accent-mix-20);
    min-height: 20rem;
    max-height: 32rem;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 #0002;
    overflow: hidden;

    position: absolute;
    right: 0;

    /* height: 20rem; */

    --background: var(--surface-0);
    --elevate-0: var(--surface-n1);
    --elevate-n1: var(--surface-n2);
    --elevate: var(--surface-1);
    --elevate-1: var(--surface-2);
    --elevate-2: var(--surface-3);
    --elevate-3: var(--surface-4);

    background: var(--background);
    color: var(--color);

    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    z-index: 1;
}



.toolbar.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    z-index: 2;
}

.toolbar.leaving {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-20px);
    z-index: 1;
}

#headerButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons :is(button, a) {
    width: 100%;
}

.buttons button {
    margin: 0;
}

button.solid {
    position: relative;
}

button.solid::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--br);
    background: var(--background);
    z-index: -1;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

#loginPopupOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
    padding: 3em 30px;
    height: 100%;
}

#loginPopupOverlay span {
    color: gray;
}

#toolbarApps > div {
    background: var(--ui-bg-0);
    height: calc(100% - 22px - 1em);
    border-radius: 1.5em 1.5em 0 0;
}

#themeButton, #assistantButton {
    padding: 8px 12px;
}


/* Mobile */
@media only screen and (max-width: 600px) {
    #toolbars {
        left: 10px;
        width: unset;
    }
}

@media only screen and (max-width: 430px) {
    .headerText {
        display: none;
    }

    .headerTitle {
        font-weight: 400 !important;
    }
}

@media only screen and (max-width: 350px) {
    #headerButtons .label {
        display: none;
    }

    #assistantButton {
        display: none !important;
    }
}

@media only screen and (max-width: 310px) {
    #appsButton {
        display: none !important;
    }
}

@media only screen and (max-width: 250px) {
    #themeButton {
        display: none !important;
    }
}

[ls] button.small {
    padding: 2px 20px;
    --br: 10px;
    --br-lg: 10px;
}

#profileWrap {
    background: var(--ui-bg-0);
    border-radius: 20px 20px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#profileListWrap {
    opacity: 0;
    transition-duration: .2s;
    display: flex;
    flex-direction: column;
}

#profileWrap .pfpWrap {
    transform: translateY(-50%);
    margin: auto;
    margin-bottom: -2.5em;
    padding: .4em;
    transition-duration: .2s;
}

.pfpWrap {
    background: var(--elevate-1);
    border-radius: 50%;
    min-width: var(--pfp-size, 5em);
    min-height: var(--pfp-size, 5em);
    width: var(--pfp-size, 5em);
    height: var(--pfp-size, 5em);
    overflow: hidden;
}

.profilePicture {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    border-radius: 50%;
    background: var(--elevate-2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--pfp-size, 5em) / 2);
}

#profileUsername {
    color: gray;
    font-size: 1rem;
}

#toolbarAccount {
    background: var(--background);
    min-height: 23em;
}

#returnButton::before {
    inset: 1px;
    border-radius: 9px;
}

#returnButton {
    position: absolute;
    margin: 0;
    top: 0;
    left: 2em;
    transform: translateY(-50%);
    opacity: 0;
    transition-duration: .2s;
}

#toolbarAccount.selecting #returnButton {
    opacity: 1;
}

#toolbarAccount.selecting #profileWrap {
    border-radius: 15px 15px 0 0;
    bottom: -70%;
}

#toolbarAccount.selecting .pfpWrap {
    --pfp-size: 3em;
    margin-right: 1em;
    margin-bottom: -1em;
    padding: .3rem;
}

#toolbarAccount.selecting #profileListWrap {
    opacity: 1;
}

#profileWrap :is(h1, h2, h3) {
    margin: 0;
}

.page {
    display: none;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.headerText {
    font-weight: 300;
}

#error_page {
    align-items: center;
    justify-content: center;
}

#app.expired {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
    text-align: center;
}

.hButtonGroup {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.hButtonGroup :is(a, button, .ls-button) {
    border-radius: 5px !important;
    margin: 3px 0;
    width: 100%;
}

.hButtonGroup > :is(a, button, .ls-button):first-child, .userListItem:first-child {
    border-radius: 15px 15px 5px 5px !important;
}

.hButtonGroup > :is(a, button, .ls-button):last-child, .userListItem:last-child {
    border-radius: 5px 5px 15px 15px !important;
}

.hButtonGroup > :is(a, button, .ls-button):only-child, .userListItem:only-child {
    border-radius: 15px !important;
}

.accountList {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.accountList button.userListItem {
    width: 100%;
    /* background: var(--elevate-1); */
    display: flex;
    cursor: pointer;
    padding: .8em 1.2em;
    --pfp-size: 2.5em;
    border-radius: 5px;
    gap: .8em;
    line-height: 1em;
    align-items: center;
    margin: 0;
    text-align: left;
}

.userEmail {
    font-size: .9em;
    color: var(--elevate-4);
}


.marqueeBar {
    font-weight: 900;
    padding: 6px 0;
    width: 100%;
    font-size: larger;
    overflow: hidden;
}

.marqueeBar div {
    animation: marquee 8s linear infinite;
    white-space: nowrap;
    display: flex;
    width: 200%;
}

.marqueeBar span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


/*
 * Assistant
*/

#assistant {
    width: 670px;
    height: 300px;
    background: var(--surface-n3);
    color: var(--accent-90);
    border-radius: var(--border-radius-large);
    pointer-events: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    --font: "IBM Plex Mono", "JetBrains Mono", monospace;
    font-family: var(--font);
    overflow: hidden;
    outline: 1px solid var(--surface-3);
    box-shadow: 0 4px 40px 5px #0002;
    padding: var(--padding-content-h);
    left: 50%;
    top: 50%;
    transition: opacity 0.2s;
    opacity: 0;
}

#assistant .loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#assistant > .content {
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}

#assistant > .buttons {
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: row;
}

@media (max-width: 700px) {
    #assistant {
        width: unset;
        height: unset;
        border-radius: 0;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0px, 0px);
    }

    #assistant > .content {
        min-height: 60vh;
    }
}

[ls-theme="light"] #assistant {
    color: #234B78;
}

#assistant .title {
    width: 100%;
}

#assistant .title h1 {
    font-size: 3em;
    margin: 0;
}

#assistant .title span {
    font-weight: 300;
}

#assistant .generated-content {
    flex: 1;
    padding: var(--padding-content-h);
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

#assistant .input-container {
    background: linear-gradient(90deg, #A1D8FF, #786199);
    position: relative;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    margin-top: 0;
    box-shadow: 0 4px 20px 0 #0001;
}

#assistant .input {
    background: var(--surface-n2);
    position: absolute;
    inset: 2px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

#assistant.fullscreen {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: translate(0);
    inset: 0;
}

#assistant.fullscreen .bi-fullscreen::before {
    content: "\F3DE";
}

#assistant .send {
    --padding-control-v: 2px;
    font-size: xx-large;
    margin-right: 6px;
}

#assistant input {
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font);
    flex: 1;
    padding: 0 var(--padding-content-h);
    min-width: 0;
}

#assistant .background {
    position: absolute;
    inset: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    object-fit: cover;
}

#assistant-overlay {
    position: fixed;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: 0;
    top: var(--header-height);
    z-index: 800;
}