body[ls-theme="dark"] {
    background: black !important;
}

.content {
    margin: auto;
    height: 100%;
    max-width: 1360px;
}

.full-height {
    height: 100%;
    position: relative;
}

.logo-board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.logo_text {
    font-family: "JetBrains Mono";
    font-weight: 800;
    letter-spacing: 0;
    font-size: xxx-large;
    opacity: 0;
    animation: logoTextFadeIn 2s ease forwards;
}

@keyframes logoTextFadeIn {
    0% {
        opacity: 0;
        letter-spacing: 15px;
        margin-right: -15px;
    }
    100% {
        opacity: 1;
        letter-spacing: 40px;
        margin-right: -40px;
    }
}

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: -1;
}

.stripe-container div {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, transparent, rgba(var(--c), 34%), transparent);
    position: relative;
    overflow: hidden;
}

.stripe-container div::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    width: 350px;
    background: rgb(var(--c));
    transform: translateX(-50%);
}

#chevron {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    animation: jump 1.5s cubic-bezier(.7,0,.175,1) 250ms infinite alternate both;
    transition: opacity 0.2s;
    pointer-events: none;
    opacity: 0;
    border-radius: 25px;
    padding: 8px 20px;
    white-space: nowrap;
    z-index: 500;
}

#chevron.visible {
    opacity: 1;
}

@keyframes jump {
    0% {
        transform: translateY(0) translateX(-50%)
    }

    100% {
        transform: translateY(-10px) translateX(-50%)
    }
}

#footer {
    background-color: var(--elevate);
    position: relative;
    min-height: 250px;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    max-width: 1360px;
    margin: auto;
}

.padding {
    padding: 3.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.bga {
    border: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}

.vfx-loaded .bga {
    opacity: .25;
}

.guy-lore {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    max-width: 60em;
}

.mono {
    font-family: 'JetBrains Mono';
}

.guy-lore > div {
    flex: 1;
    min-width: 65%;
    width: 100%;
    font-weight: 200;
}

@media screen and (max-width: 600px) {
    .padding {
        padding: 3em 2em;
    }

    #lore-illustration {
        width: 250px;
    }

    .marqueeBar span:nth-child(odd) {
        display: none;
    }
}

@media screen and (max-width: 1360px) {
    #footer {
        border-radius: 0;
    }
}


ls-box.inline.color {
    padding: 4px 12px;
}