body[ls-theme="dark"] {
    background: black !important;
}

.content {
    margin: auto;
    height: 100%;
    max-width: 1360px;
}

.full-height {
    height: 100%;
    position: relative;
}

.logo-board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.logo_text {
    font-family: "JetBrains Mono";
    font-weight: 800;
    letter-spacing: 0;
    font-size: xxx-large;
    opacity: 0;
    animation: logoTextFadeIn 2s ease forwards;
}

@keyframes logoTextFadeIn {
    0% {
        opacity: 0;
        letter-spacing: 15px;
        margin-right: -15px;
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        letter-spacing: 40px;
        margin-right: -40px;
        filter: none;
    }
}

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: -1;
}

.stripe-container div {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, transparent, rgba(var(--c), 34%), transparent);
    position: relative;
    overflow: hidden;
}

.stripe-container div::after {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    width: 350px;
    background: rgb(var(--c));
    transform: translateX(-50%);
}

#chevron {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    animation: jump 1.5s cubic-bezier(.7,0,.175,1) 250ms infinite alternate both;
    transition: opacity 0.2s;
    pointer-events: none;
    opacity: 0;
    border-radius: 25px;
    padding: 8px 20px;
    white-space: nowrap;
    z-index: 500;
}

#chevron.visible {
    opacity: 1;
}

@keyframes jump {
    0% {
        transform: translateY(0) translateX(-50%)
    }

    100% {
        transform: translateY(-10px) translateX(-50%)
    }
}

#footer {
    background-color: var(--elevate);
    position: relative;
    min-height: 250px;
    padding: 30px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px 30px 0 0;
    max-width: 1360px;
    margin: auto;
}

.padding {
    padding: 3.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.bga {
    border: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}

.vfx-loaded .bga {
    opacity: .25;
}

.guy-lore {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    max-width: 60em;
}

.mono {
    font-family: 'JetBrains Mono';
}

.guy-lore > div {
    flex: 1;
    min-width: 65%;
    width: 100%;
    font-weight: 200;
}

@media screen and (max-width: 600px) {
    .padding {
        padding: 3em 2em;
    }

    #lore-illustration {
        width: 250px;
    }

    .marqueeBar span:nth-child(odd) {
        display: none;
    }
}

@media screen and (max-width: 1360px) {
    #footer {
        border-radius: 0;
    }
}


ls-box.inline.color {
    padding: 4px 12px;
}

.poppable-link {
    border-radius: var(--border-radius-full);
    transition: .2s background-color, .2s color, .5s padding ease;
    color: var(--color) !important;
    position: relative;
    padding: 2px 0;
}

.poppable-link:is(:hover, :focus) {
    background: var(--accent);
    padding-left: 10px;
    padding-right: 10px;
    color: var(--hover-color, var(--surface-0)) !important;
    text-decoration: none !important;
}

.poppable-link.has-icon:is(:hover, :focus) {
    padding-left: 34px;
}

.poppable-link.has-icon:is(:hover, :focus) i {
    opacity: 1;
    transform: translateX(0);
}

.poppable-link i {
    position: absolute;
    transition: .5s opacity ease, .5s transform ease;
    transform: translateX(2px);
    left: 10px;
    opacity: 0;
}

.underline-link {
    text-decoration: underline !important;
}

.koba-button:after {
    content: "";
    position: fixed;
    inset: 0;
    background-position: bottom right;
    background-repeat: no-repeat;
    filter: brightness(.5);
    pointer-events: none;
    z-index: 50;
    opacity: 0;
    transition: opacity 1s;
    background-size: 500px;
}

.koba-button:is(:hover, :focus):after {
    opacity: .5;
    background-image: url(https://cdn.extragon.cloud/file/c96029a73c5f647e.webp);
}

@media screen and (max-width: 1000px) {
    .koba-button:after {
        background-size: 250px;
        background-position: bottom right -40px;
    }
}

#showcase-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
}

.showcase-item {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    border-radius: var(--border-radius-xlarge);
    position: relative;
    outline: 4px solid var(--accent-60);
    background-color: color-mix(in oklab, #000 40%, var(--accent-20) 70%);
    box-shadow: 0 10px 20px 0 #0002;
    gap: 10px;
}

[ls-theme=light] .showcase-item {
    background-color: color-mix(in oklab,#fff 100%,var(--accent-20) 20%);
}

.showcase-item-header {
    display: flex;
    justify-content: space-between;
}

.showcase-item-content {
    display: flex;
    gap: 18px;
}

.showcase-item-description {
    height: 128px;
    overflow: auto;
}

.showcase-item .showcase-item-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--accent-60);
}

.showcase-item-icon {
    border-radius: var(--border-radius-large);
}

.showcase-buttons {
    border-radius: var(--border-radius-full) !important;
    font-size: 1.4rem;
    --padding-control-v: 10px;
    --padding-control-h-pill: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#animated-word > span {
    display: inline-block;
}

.showcase-intro-text {
    height: 90px;
    margin-bottom: -80px;
    margin-top: 60px;
}

/* Temporary: */
.ls-slide-animation>:not(.visible):not(.leaving):not(.entering) {
    display: none !important;
}

#showcase-gallery {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    max-width: 1240px;
    width: 100vw;
    padding: 0 20px;
    align-items: center;
}

.showcase-gallery-item {
    outline: 1px solid var(--accent-mix-20);
    border-radius: var(--border-radius-xlarge);
    box-shadow: 0 10px 20px 0 #0002;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background: var(--elevate);
    cursor: pointer;
}

.showcase-gallery-item > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px;
    background: linear-gradient(360deg, #0008, transparent);
    right: 0;
    color: #fff;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#showcase-tabs {
    margin-bottom: 40px;
}

.showcase-gallery-item img {
    max-height: 500px;
    min-width: 200px;
    min-height: 200px;
}

.showcase-gallery-item button {
    --color: #fff;
    color: var(--color)!important;
    display: flex;
    gap: 8px;
    padding: 8px 13px !important;
}

.showcase-gallery-item button i {
    position: relative;
}