<head>

    <style>
        body {
            /* Eye-saver! */
            background: #222;
            color: #ddd;
        }

        @media (prefers-color-scheme: light) {
            body {
                background: #ddd;
                color: #222;
            }

            .ui-loader {
                border-color: #111 #0000;
            }
        }

        .loaderContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        @keyframes l1 { to { transform: rotate(.5turn) } }

        .loader {
            --b: 25%;
            height: 80px;
            aspect-ratio: 1/cos(30deg);
            position: relative;
            clip-path: polygon(50% 0,100% 100%,0 100%,50% 0,50% var(--b),calc(var(--b)*cos(30deg)) calc(100% - var(--b)/2),calc(100% - var(--b)*cos(30deg)) calc(100% - var(--b)/2),50% var(--b));
            filter: blur(12px);
        }

        .loader:before {
            content: "";
            position: absolute;
            inset: -8% 0;
            background: conic-gradient(#0000 35%,#0B486B,#0000 65%);
            animation: l5 2s linear infinite;
        }

        .ui-loader {
            width: 50px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 8px solid;
            border-color: var(--surface-top, #fff) #0000;
            animation: l1 1s infinite;
        }

        @keyframes l5 { to {rotate: 1turn} }
    </style>

    <script>
        window.app = {
            module(script, callback) {
                window.__initOrigin = script;
                window.__init = callback;
            }
        }
    </script>

    @use (ls:5.2.1[flat, tooltips, toast, reactive, tabs, animation, modal], bootstrap-icons, google-fonts["Poppins:wght@400;600;800", "JetBrains Mono:wght@400;600;800", "IBM Plex Mono:wght@400;600;800"]);
    @use (~/assets/css/main.css, ~/assets/js/app.js[defer]);

    @page {
        style: flat;
        theme: dark;
        accent: white;

        font: Poppins, sans-serif;

        favicon: /~/assets/image/favicon.svg;
    }

</head>

<body class="level-0">
    <div .loaderContainer>
        <div .loader/>
        <noscript>
            <h1>You need to enable JavaScript to be able to access this website!</h1>
        </noscript>
    </div>

    <script>
        // Apply theme based on user preference
        document.body.setAttribute("ls-theme", localStorage.getItem("ls-theme") || (window.matchMedia && window.matchMedia("(prefers-color-scheme: light)").matches? "light": "dark"));
    </script>

    <div #app hidden>
        <nav .level-1>

            <a href="/" .homeButton aria-label="LSTV Home">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" fill="none"><path d="M19.1689 12.3682V13.7529H19.1182L18.3242 12.3682H19.1689ZM14.9346 13.7529H2.3457L8.63965 2.81445L14.9346 13.7529ZM19.1689 6.82617V8.48926H16.0996L15.1465 6.82617H19.1689ZM19.1689 1.5625V2.94727H12.9219L12.1279 1.5625H19.1689Z" stroke="currentColor" stroke-width="2.494"/></svg>
                <span .headerTitle>LSTV</span> <span .headerText />
            </a>

            <div #headerButtons>
                <button disabled ls-tooltip="Log in" #accountsButton .level-1 .pill .elevated aria-label="Log in or view profile">
                    {{ user.username ?? 'Log-In' }}

                    <div #profilePicturePreview>
                        <i .bi-person-fill />
                    </div>
                </button>

                <button ls-tooltip="Applications" .level-1 #appsButton .pill .elevated aria-label="View applications">
                    <i .bi-grid-fill /> <span .label>Apps</span>
                </button>

                <button ls-tooltip="Assistant" #assistantButton .pill.elevated aria-label="Open Assistant">
                    <i .bi-stars />
                </button>

                <button ls-tooltip="Customize" #themeButton .pill.elevated aria-label="Customize the site appearance">
                    <i .bi-sun-fill /> <i .bi-palette-fill />
                </button>
            </div>

        </nav>

        <div #toolbars .level-1 .ls-slide-animation style="display: none">

            <div .toolbar #toolbarApps>
                <h3>Applications</h3>
                <div>
                </div>
            </div>

            <div .toolbar #toolbarTheme>
                <h3>Customize</h3>
                <ls-box .elevated .inline>
                    <button .elevated ls-tooltip aria-label="Dark theme" onclick="app.theme = 'dark'"> <i class="bi-moon-stars-fill" /> </button>
                    <button .elevated ls-tooltip aria-label="Light theme" onclick="app.theme = 'light'"> <i class="bi-sun-fill" /> </button>
                    <button .elevated ls-tooltip aria-label="Set to system default" onclick='localStorage.removeItem("ls-theme"); LS.Color.setAdaptiveTheme()'> <i class="bi-arrow-clockwise" /> </button>
                </ls-box>

                <br>

                <ls-box .elevated .inline #accentButtons>
                    <button .accentButton ls-tooltip aria-label="Custom color" onclick="this.querySelector('input[type=color]').click()">
                        <input type="color" style="visibility: hidden; position: absolute" value="#ffffff">
                        <i .bi-eyedropper />
                    </button>
                </ls-box>
            </div>

            <div .toolbar .level-n1 #toolbarAssistant>
                <div .loading>
                    <div .loader></div>
                </div>

                <div .content style="display: none">
                    <div .title>
                        <h1>Assistant</h1>
                        <span>Powered by <a href="https://ai.lstv.space">Arisen</a></span>
                    </div>
    
                    <div .generated-content></div>

                    <ls-div .assistant-intro .margin-h-small>
                        <i .bi-info-circle />
                        Assistant can help with answering questions or just chat with you. It has access to a part of your profile and data & memories you have on Arisen chat. Chats you start here will also appear in Arisen chat. More features and integrations will be added over time! You can opt out from it in settings.
                    </ls-div>

                    <ls-div .assistant-examples>
                        <button .pill .elevated onclick="O('#assistant-input').value='Hello! Who are you?'">Say hi</button>
                        <button .pill .elevated onclick="O('#assistant-input').value='Check my saved reminders.'">Check reminders</button>
                        <button .pill .elevated onclick="O('#assistant-input').value='I want to report a bug or suggest a feature related to lstv.space.'">Report a bug</button>
                    </ls-div>
    
                    <form .input-container name="assistantForm" onsubmit="return false">
                        <div .input-wrapper>
                            <textarea rows="1" .clear name="Assistant input" id="assistant-input" placeholder="Type a message..." aria-label="Assistant input" required></textarea>
                        </div>
                        <button type="submit" ls-tooltip aria-label="Send message" .send .circle><i .bi-arrow-up-short></i></button>
                    </form>
                </div>
            </div>

            <div .toolbar #toolbarLogin .level-1 .ls-slide-animation>
                <div .login-toolbar-page tab-id="default" #loginPopup>
                    <svg width="45" height="37" fill="none"><rect y="17" width="30" height="10" rx="5" fill="#fcc21b"/><rect x="15" width="30" height="10" rx="5" fill="#ed6c30"/><g fill="#40c0e7"><rect width="10" height="10" rx="5"/><rect x="35" y="17" width="10" height="10" rx="5"/></g></svg>

                    <h2>Log-In!</h2>

                    <span style="margin-bottom: 1em; display: block;">
                        Create an account to get access to all features.
                    </span>

                    <div .buttons>
                        <button onclick="app.loginTabs.set('login')" #login .pill>Log-In</button>
                        <button onclick="app.loginTabs.set('register')" .pill.elevated>Create account</button>
                    </div>
                </div>

                <div .login-toolbar-page tab-id="login">
                    <h2 .login-popout-title>Login</h2>

                    <form name="loginForm">
                        <label for="username">Username or email</label>
                        <input #username name="username" placeholder="Your username or email" required autocomplete="username email" spellcheck="false">
                        <label for="password">Password</label>
                        <input #password type="password" name="password" placeholder="Your password" required autocomplete="current-password" spellcheck="false">
                        <span .error-message></span>
                        <button .pill.elevated type="submit">Log in</button>
                    </form>

                    <span>Don't have one? <a href="#" onclick="app.loginTabs.set('register')">Sign up</a></span>
                </div>

                <div .login-toolbar-page tab-id="register">
                    <h2 .login-popout-title>Sign Up</h2>

                    <form name="registerForm">
                        <label for="regEmail">Email</label>
                        <ls-text-input>
                            <input #regEmail type="email" name="email" placeholder="Your email" required autocomplete="email" spellcheck="false">
                        </ls-text-input>

                        <label for="regUsername">Username</label>
                        <ls-text-input>
                            <input #regUsername type="text" name="username" placeholder="Your username" required autocomplete="username" spellcheck="false" minlength="2" maxlength="35" autocapitalize="none">
                            <div .ls-text-input-bar>
                                <button .elevated type="button" #randomUsername ls-tooltip aria-label="Random username"><i .bi-dice-5-fill /></button>
                            </div>
                        </ls-text-input>

                        <label for="regPassword">Password</label>
                        <ls-text-input>
                            <input #regPassword type="password" name="password" placeholder="********" required autocomplete="new-password" spellcheck="false" minlength="8" pattern="^(?=.*[^a-zA-Z]).{8,}$">
                            <div .ls-text-input-bar>
                                <button .elevated type="button" #randomPassword ls-tooltip aria-label="Random password"><i .bi-dice-5-fill /></button>
                            </div>
                        </ls-text-input>

                        <span .error-message></span>
                        <button .pill.elevated type="submit">Continue</button>
                    </form>

                    <span>Want to log-in? <a href="#" onclick="app.loginTabs.set('login')">Log in</a></span>
                </div>

                <div .login-toolbar-page tab-id="register-step2">
                    <h2 .login-popout-title>Complete</h2>

                    <form name="registerStep2Form" .margin-h-medium>
                        <label for="displayname">Display name <ls-box .inline .text-tag>Optional</ls-box></label>
                        <input #displayname type="text" name="displayname" placeholder="Your display name" autocomplete="nickname name" spellcheck="false" maxlength="45">
                        <span .error-message></span>

                        <div .margin-top-medium style="text-align: center">
                            <div .margin-v-medium style="font-size: smaller; color: var(--elevate-3)">
                                By signing up, you agree to our <a href="/tos" target="_blank">Terms of Service</a> and <a href="/pp" target="_blank">Privacy Policy</a>. <br>
                            </div>

                            <button .pill style="box-shadow: 0px 12px 60px 0 var(--accent-mix-80); width: 100%; margin-top: 20px" type="submit">Create account</button>
                        </div>
                    </form>

                </div>

                <div .login-toolbar-page tab-id="account" .profile style="padding-bottom: 10px">
                    <div .profile-banner {{ user.banner:ProfileBanner }} />
                    <div .profile-avatar {{ user.pfp:ProfilePicture(120px) }} />
                    <h2 {{ user.displayname:DisplayName }} style="margin-bottom: 0; font-weight: 700" />

                    <a .ls-button .elevated .circle ls-tooltip aria-label="Edit profile" #editProfileButton href="/home/profile">
                        <i .bi-pencil-fill />
                    </a>

                    {{ user.username:ProfileUsername }}

                    <ls-div .profile-buttons .grouped-buttons>
                        <a .ls-button .elevated href="/home/account" class="profile-link">
                            <i .bi-gear-fill /><span>Manage</span>
                        </a>
                    </ls-div>

                    <ls-div .profile-buttons .grouped-buttons>
                        <button .elevated onclick="app.loginTabs.set('login')"><i .bi-arrow-left-right /><span>Switch accounts</span></button>
                        <button .elevated #logOutButton><i .bi-box-arrow-right /><span>Log out</span></button>
                    </ls-div>
    
                    <span hidden {{ user.profile_style:ProfileEffects(style) }} />
                    <span hidden {{ user.fullscreen_banner:ProfileEffects(fullscreen-banner) }} />
                </div>
            </div>

        </div>

        <main #viewport>
            <div><template::content /></div>
        </main>
    </div>

</body>