.pd-folder {
    margin-left: 20px;
}

.pd-file-item {
    padding: 2px 0;
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
}

.pd-file-item:hover {
    text-decoration: underline;
}

.pd-folder-content {
    margin-left: 20px;
    border-left: 1px solid var(--elevate-2);
    padding-left: 10px;
}